# Typing
jaxtyping

# Environments
gymnasium[all]

# Torch
torch

# Algorithms
pink-noise-rl

# Configurations and Logging
hydra-core[logging]
wandb[logging]
moviepy[logging]

# Util
pytest[development]
mypy[development]
